html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

body {
	background-color: white;
	color: black;

	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

@media (min-width: 768px) {
	body {
		font-size: 16px;
	}
}
@media (min-width: 480px) and (max-width: 768px) {
	body {
		font-size: 15px;
	}
}

@media (max-width: 479px) {
	body {
		font-size: 14px;
	}
}
